{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2017",
    "baseUrl": "../../",
    "paths": {
      "@/*": [
        "./src/*"
      ]
    }
  },
  "minify": true
}